# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
media/

# ML / Dataset files
*.joblib
*.csv
*.h5
*.model

# IDE / OS files
.vscode/
.DS_Store
*.swp
